<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" >
        <meta charset="UTF-8"/>
        <title>Spring Security Example</title>
        <link rel="stylesheet" href="../css/login.css"/>

    </head>
    <body>

        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="login">
            <form th:action="@{/login}" method="post">
                <div><input type="text" placeholder="Username"  name="username"/></div>
                <div><input type="password" placeholder="password"  name="password"/></div>
                <div><input type="submit" value="LogIn"/></div>
            </form>
        </div>
        <div class="shadow"></div>


    </body>

</html>
